.empty-page-container{
    width: 100%;
    height: 100%;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

.empty-page-title{
    text-align: center;
    font-family: Athletics Medium;
    /* padding-top: 125px; */
}

.empty-page-title h2{
    font-size: 3rem;
    color: #3d95ce;
}

.empty-page-title a{
    font-size: 2rem;
}

.empty-page-image-wrapper{
    width: 100%;
    height:500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-page-link-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.empty-page-image-wrapper img{
    /* border-radius: 50%; */
    height: auto;
    max-width: 90%;
    max-height: 500px;
    
    
}
