.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;;

    overflow-y: scroll;
    margin-top: 88px;
}




.form-container h3{
    
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin: 28px 0;
}

.login-form{
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 28px;
    margin: 0 auto 40px;
    width: 40%;
    color: #262626;
    max-width: 500px;
}

.signup-form-container{
overflow-y: scroll;
width: 50%;
}
.signup-form-container h3 {
    text-align: center;
}

.signup-form{
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 28px;
    margin: 0 auto 40px;
    width: 100%;
    color: #262626;
    max-width: 500px;
    overflow-y: scroll;
}



.input-section{
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-bottom: 36px;
    max-width: 500px;
    width: 95%;
}

.input-section input{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    
    box-shadow: none;
    color: #262626;
    display: block;
    min-width: 0px;
    padding: 12px 8px 12px 4px;
    width: 100%;

    
    
    
    padding: 12px;
    border-radius: 4px;
    
    
}

.input-section label{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #6b6e76;
    text-transform: uppercase;
    display: block;
    padding-left: 4px;
    max-width: 100%;
}

.sign-in-button, .sign-up-button{
    font-size: 15px;
    line-height: 20px;
    padding: 12px 20px;
    display: inline-block;
    font-weight: 600;
    border-radius: 4px;
    line-height: 1.5;
    font-family: helvetica neue;
    color: #fff;
    box-sizing: border-box;
    background: #3d95ce;
    box-shadow: 0 1px 2px rgb(38 38 38 / 15%);
    border: none;
    float: right;
    cursor: pointer;
}

.login-footer a{
    font-size: 15px;
    line-height: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #3d95ce;
}

.login-page-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login-page-buttons-container button{
    cursor: pointer;
}

.login-signup-container{
    width: 100%;
    position: absolute;
    top: 0;
    height: 3rem;
    border-bottom: 1px solid #ededed;
    line-height: 40px;
    padding: 19px 0;
    background-color: white;
}

.login-signup-navbar{
    width: 50%;
    display: flex;
    height: 3rem;
    align-items: center;
    
    border-right: 0;
    
    margin: auto;
}

.login-signup-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    justify-content: space-evenly;
    align-items: center;
    
}

.login-signup-logo{
display: flex;
align-items: center;
height: 100%;
}

.login-signup-logo a{
    height: 100%;
}

.logo-link  {
    display: flex;
    align-items: center;
}

.login-signup-links{
        color: #3d95ce;
}

.login-signup-links:hover{
    opacity: .6;
}
